# Java/Gradle
.gradle/
build/
bin/
out/

# Logs
*.log
logs.txt

# IDE/editor
.vscode/
.idea/
*.iml

# OS files
Thumbs.db
.DS_Store

# Misc
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
gradle-*-bin.zip
*.zip